body{
    width: 100;
    overflow-x: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.back{
    background-image: url(../css/h_img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    color: azure;
    text-align: center;
    font-size: 60%;
    padding: 150px;
    position: relative;
}
.back h1{
    margin-top: 15px;
    font-size: 40px;
}    
.back p{
    margin-top: 10px;
    font-size: 120%;
}